<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops - Disconnected</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <script>
        var isAuthenticated = {{ current_user.is_authenticated|tojson }};
    </script>
    <div id="nav-placeholder"></div> 
    <main>>
    <div class="container">
        <h1>You've been sent here because your opponent has disconnected</h1>
        <p>Play again?</p>
        <div class="button-group">
            <form action="/host" method="get">
                <button type="submit">Host a Game</button>
            </form>
            <form action="/join" method="get" style="margin-top: 10px;">
                <button type="submit">Join a Game</button>
            </form>
        </div>
    </div>
    </main>
    <script src="/static/loadnav.js"></script>
</body>
</html>
