<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="homepage">
    <header>
        <h1>Welcome to my website</h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="/moon">Moon Game</a>
        <a href="/all">All stuff</a>
    </nav>
    <main>
        <h1>Hello!</h1>
        <p>This is the homepage of my website.</p>
    </main>
</body>
</html>