<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Game</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <link rel="stylesheet" href="/static/style.css"> <!-- Unified CSS -->
</head>
<body>
    <div class="container">
        <h1 id="joingame">Join a Game</h1>
        <input type="text" id="game_id" placeholder="Enter Game ID">
        <button onclick="joinGame()" id="joinButton">Join</button>
        <p id="status"></p>
    </div>

    <script>
        var socket = io();
        
        function joinGame() {
            var gameId = document.getElementById("game_id").value;
            socket.emit('join_game', {game_id: gameId});
            document.getElementById("status").innerText = "Trying to join... If you see this error for a long time: Check your game ID, make sure the host chose a board, or try again";
        }

        socket.on('connected', function(data) {
            // wait for start game
        });

        socket.on('start_game', function(data) {
            document.getElementById("status").innerText = "Waiting for other player to do their turn...";
            document.getElementById("joingame").remove();
            document.getElementById("game_id").remove();
            document.getElementById("joinButton").remove();
        });
    </script>
</body>
</html>
